@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic,latin);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Open Sans", Arial, sans-serif; font-size: 12px; line-height: 1.3; }

button { background: none; font-family: "Open Sans", Arial, sans-serif; font-size: 100%; cursor: pointer; -webkit-appearance: button; }

a { text-decoration: none; }

.wrapper { overflow: hidden; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }

.column { float: left; width: 50%; }

.center { width: 1400px; margin: 0 auto; }

.header { height: 50px; padding: 0 20px; background: #333333; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header .header__logo { position: absolute; top: 7px; left: 50%; margin-left: -65px; }
.header .header__link { float: right; padding: 0 10px; line-height: 50px; font-weight: 700; text-transform: uppercase; color: #646464; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.header .header__link:hover { background: #3e3e3e; color: white; }

.lang { float: left; }
.lang .lang__head { padding: 0 10px; line-height: 50px; font-weight: 700; color: #646464; text-transform: uppercase; -webkit-transition: background 0.2s, color 0.2s; -moz-transition: background 0.2s, color 0.2s; -o-transition: background 0.2s, color 0.2s; transition: background 0.2s, color 0.2s; cursor: pointer; }
.lang .lang__head:after { content: ""; display: inline-block; position: relative; top: -1px; margin-left: 10px; vertical-align: middle; width: 0px; height: 0px; border-style: solid; border-width: 4px 2.5px 0 2.5px; border-color: #646464 transparent transparent transparent; -webkit-transition: border-color 0.2s; -moz-transition: border-color 0.2s; -o-transition: border-color 0.2s; transition: border-color 0.2s; }
.lang .lang__head:hover { background: #3e3e3e; color: white; }
.lang .lang__head:hover:after { border-color: white transparent transparent transparent; }

.menu { float: right; height: 50px; padding: 0 10px; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; font-size: 0; color: #646464; }
.menu span, .menu .icon { display: inline-block; vertical-align: middle; }
.menu span { position: relative; top: -1px; font-size: 12px; font-weight: 700; text-transform: uppercase; }
.menu .icon { margin-left: 10px; font-size: 10px; }
.menu:hover { background: #3e3e3e; color: white; }

.search { float: left; }
.search .search__btn { height: 50px; padding: 0 10px; font-size: 0; color: #646464; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.search .search__btn:hover { background: #3e3e3e; color: white; }
.search .icon { font-size: 12px; }

.events { padding-left: 50%; white-space: nowrap; font-size: 0; overflow: hidden; }
.events .events__in { margin-left: -200px; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; transition: transform 0.3s; }
.events .events__item { display: inline-block; width: 400px; height: calc(100vh - 50px - 170px - 274px); padding: 65px 60px 20px; font-size: 12px; white-space: normal; vertical-align: top; }
.events .events__day { margin-bottom: 20px; text-transform: uppercase; }
.events .events__text { line-height: 1.5; }

.time { position: relative; }
.time .time__in { position: relative; padding-left: 50%; white-space: nowrap; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 0; overflow: hidde; z-index: 2; }
.time .time__list { margin-left: -10px; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; transition: transform 0.3s; }
.time .time__prev, .time .time__next { position: absolute; top: 0; padding: 2px 10px; background: black; color: white; text-transform: uppercase; z-index: 4; }
.time .time__prev { left: 0; }
.time .time__next { right: 0; }
.time .time__month { position: absolute; top: 83px; padding: 0 10px; text-align: center; text-transform: uppercase; line-height: 16px; }
.time .time__month_left { left: 0; }
.time .time__month_right { right: 0; }
.time .time__month_center { left: 50%; width: 100px; margin-left: -50px; }
.time .time__month_center span { display: inline-block; background: black; color: white; vertical-align: top; }
.time .time__day { display: inline-block; position: relative; width: 19px; height: 170px; vertical-align: top; cursor: pointer; }
.time .time__day.is-active:before, .time .time__day.is-active:after { background: black; }
.time .time__day.is-active:before { height: 70px; }
.time .time__day.is-active:after { height: 56px; }
.time .time__day:before, .time .time__day:after { content: ""; position: absolute; left: 8px; width: 1px; height: 4px; background: #cccccc; -webkit-transition: background 0.3s, height 0.3s; -moz-transition: background 0.3s, height 0.3s; -o-transition: background 0.3s, height 0.3s; transition: background 0.3s, height 0.3s; }
.time .time__day:before { bottom: 100px; }
.time .time__day:after { display: none; top: 114px; }
.time .is-interview:after { display: block; }

.preview { padding-left: 50%; font-size: 0; white-space: nowrap; overflow: hidden; }
.preview .preview__in { margin-left: -82px; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; transition: transform 0.3s; }
.preview .preview__item { position: relative; display: inline-block; width: 164px; vertical-align: top; }
.preview .preview__item.is-active .preview__info { opacity: 1; }
.preview .preview__item.is-active .preview__pic:after { opacity: 0; }
.preview .preview__item.is-active .preview__pic img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }
.preview .preview__info { height: 110px; padding-top: 25px; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; opacity: 0; }
.preview .preview__man { margin-bottom: 10px; font-size: 24px; font-weight: 800; }
.preview .preview__place { font-size: 12px; text-transform: uppercase; }
.preview .preview__pic { display: block; position: relative; height: 164px; vertical-align: top; }
.preview .preview__pic:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(82, 82, 82, 0.75); -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; opacity: 1; }
.preview .preview__pic img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.article { position: relative; padding: 100px 90px 150px 120px; }
.article .article__info { position: relative; }
.article .article__info_down { padding-top: 40px; }
.article .article__info_down:before { content: ""; position: absolute; top: 0; left: 0; width: 60px; height: 1px; background: black; }
.article .article__info_down .article__title { margin-bottom: 5px; font-size: 14px; }
.article .article__info_down .article__place { font-size: 10px; }
.article .article__info_down .article__prev, .article .article__info_down .article__next { top: 25px; }
.article .article__prev, .article .article__next { position: absolute; top: 0; padding: 15px 20px; }
.article .article__prev .icon, .article .article__next .icon { font-size: 15px; color: #cccccc; }
.article .article__prev { left: -120px; }
.article .article__next { right: -90px; }
.article .article__close { position: absolute; top: 0; right: 0; padding: 20px; font-size: 0; }
.article .article__close .icon { font-size: 15px; }
.article .article__title { margin-bottom: 10px; font-size: 24px; font-weight: 800; }
.article .article__place { margin-bottom: 55px; font-size: 12px; text-transform: uppercase; }
.article .article__month { display: inline-block; margin: 0 0 55px -10px; padding: 0 10px; background: black; text-transform: uppercase; color: white; vertical-align: top; line-height: 18px; }
.article .article__content { margin-bottom: 100px; font-size: 14px; line-height: 1.8; }
.article .article__content p, .article .article__content blockquote { margin-bottom: 25px; }
.article .article__content blockquote { margin-left: -25px; font-size: 18px; font-style: italic; }
