@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic,latin);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { min-height: 768px; font-family: "Open Sans", Arial, sans-serif; font-size: 12px; line-height: 1.3; }
body.is-main-page { overflow: hidden; }

button { background: none; font-family: "Open Sans", Arial, sans-serif; font-size: 100%; cursor: pointer; -webkit-appearance: button; }

a { text-decoration: none; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }

.column { float: left; width: 50%; }
@media only screen and (max-width: 800px) { .column { width: auto; float: none; } }

.center { max-width: 1400px; margin: 0 auto; }

.main { position: relative; background: white; z-index: 2; }
.main .main__top { position: relative; height: 50vh; overflow: hidden; z-index: 2; }
.main .main__top:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(82, 82, 82, 0.75); }
.main .main__pictures { position: absolute; left: -100px; right: -100px; bottom: 0; }
.main .main__list { white-space: nowrap; font-size: 0; text-align: center; }
.main .main__in { position: relative; height: 50vh; z-index: 4; }
.main .main__in .center { position: relative; top: -73px; }
.main .main__logo { margin-bottom: 25px; font-size: 0; text-align: center; }
.main .main__text { width: 460px; margin: 0 auto; -webkit-transform: translateX(40px); -moz-transform: translateX(40px); -ms-transform: translateX(40px); -o-transform: translateX(40px); transform: translateX(40px); font-size: 13px; line-height: 1.5; }

.letsgo { position: absolute; left: 50%; bottom: 25px; width: 120px; margin-left: -60px; font-size: 0; text-align: center; cursor: pointer; }
.letsgo .icon, .letsgo span { display: inline-block; vertical-align: middle; }
.letsgo .icon { margin-right: 10px; }
.letsgo .icon-arr-down { font-size: 17px; }
.letsgo .icon-mouse { font-size: 24px; text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black; color: white; }
.letsgo span { font-size: 8px; font-weight: 700; text-transform: uppercase; text-align: left; }

.header { position: relative; height: 50px; padding: 0 20px; background: #333333; z-index: 10; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header .header__logo { position: absolute; top: 7px; left: 50%; margin-left: -65px; }
.header .header__link { float: right; padding: 0 10px; line-height: 50px; font-weight: 700; text-transform: uppercase; color: #646464; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.header .header__link:hover { background: #3e3e3e; color: white; }

.lang { float: left; }
.lang .lang__head { padding: 0 10px; line-height: 50px; font-weight: 700; color: #646464; text-transform: uppercase; -webkit-transition: background 0.2s, color 0.2s; -moz-transition: background 0.2s, color 0.2s; -o-transition: background 0.2s, color 0.2s; transition: background 0.2s, color 0.2s; cursor: pointer; }
.lang .lang__head:after { content: ""; display: inline-block; position: relative; top: -1px; margin-left: 10px; vertical-align: middle; width: 0px; height: 0px; border-style: solid; border-width: 4px 2.5px 0 2.5px; border-color: #646464 transparent transparent transparent; -webkit-transition: border-color 0.2s; -moz-transition: border-color 0.2s; -o-transition: border-color 0.2s; transition: border-color 0.2s; }
.lang .lang__head:hover { background: #3e3e3e; color: white; }
.lang .lang__head:hover:after { border-color: white transparent transparent transparent; }

.menu { float: right; height: 50px; padding: 0 10px; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; font-size: 0; color: #646464; }
.menu span, .menu .icon { display: inline-block; vertical-align: middle; }
.menu span { position: relative; top: -1px; font-size: 12px; font-weight: 700; text-transform: uppercase; }
.menu .icon { margin-left: 10px; font-size: 10px; }
.menu:hover { background: #3e3e3e; color: white; }

.search { float: left; }
.search .search__btn { height: 50px; padding: 0 10px; font-size: 0; color: #646464; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.search .search__btn:hover { background: #3e3e3e; color: white; }
.search .icon { font-size: 12px; }

.container { position: relative; background: white; overflow: hidden; }
.container.is-upper-show .container__upper { -webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s; -o-transition-delay: 0.8s; transition-delay: 0.8s; opacity: 1; visibility: visible; }
.container.is-upper-show .container__under { -webkit-transition-delay: 0.6s; -moz-transition-delay: 0.6s; -o-transition-delay: 0.6s; transition-delay: 0.6s; opacity: 0; visibility: hidden; }
.container.is-upper-show .cities { height: 0; }
.container.is-upper-show .text { -ms-transform: scale(5); -webkit-transform: scale(5); transform: scale(5); }
.container.is-upper-show .full { top: 33%; }
.container.is-upper-show .list { border-width: 0; }
.container.is-upper-show .list__in { bottom: 0; }
.container.is-upper-show .list__item { width: 164px; }
.container .container__under, .container .container__upper { height: calc(100vh - 50px); min-height: 718px; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }
.container .container__upper { position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; visibility: hidden; }

.events { position: absolute; top: 0; left: 0; right: 0; height: 33%; padding-left: 50%; white-space: nowrap; font-size: 0; overflow: hidden; }
.events .events__in { margin-left: -200px; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; transition: transform 0.3s; }
.events .events__item { display: inline-block; width: 400px; padding: 65px 60px 20px; font-size: 12px; white-space: normal; vertical-align: top; color: #d1d1d1; -webkit-transition: color 0.2s; -moz-transition: color 0.2s; -o-transition: color 0.2s; transition: color 0.2s; }
.events .events__item.is-active { color: black; }
.events .events__day { margin-bottom: 20px; text-transform: uppercase; }
.events .events__text { line-height: 1.5; }

.prev, .next { position: absolute; top: 0; bottom: 0; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; z-index: 4; }
.prev span, .next span { position: absolute; top: 117px; padding: 2px 10px; background: black; box-shadow: 0 0 5px 5px white; color: white; text-transform: uppercase; font-size: 12px; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s; z-index: 4; }
.prev.is-disabled, .next.is-disabled { opacity: 0.1; cursor: default; }

.prev { left: 0; right: 50%; margin-right: 200px; }
.prev span { left: 0; }

.next { right: 0; left: 50%; margin-left: 200px; }
.next span { right: 0; }

.time { position: absolute; top: 33%; left: 0; right: 0; bottom: 274px; text-align: center; font-size: 0; }
.time:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.time .time__container { display: inline-block; position: relative; width: 100%; vertical-align: middle; font-size: 12px; text-align: left; }
.time .time__in { position: relative; padding-left: 50%; white-space: nowrap; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 0; overflow: hidde; z-index: 2; }
.time .time__list { margin-left: -10px; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; transition: transform 0.3s; }
.time .time__month { position: absolute; top: 81px; width: 100px; height: 20px; text-transform: uppercase; line-height: 16px; cursor: pointer; z-index: 4; }
.time .time__month li { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 2px 10px; opacity: 0; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }
.time .time__month li.is-active { opacity: 1; }
.time .time__month_left { left: 0; }
.time .time__month_right { right: 0; text-align: right; }
.time .time__month_center { left: 50%; margin-left: -50px; text-align: center; cursor: default; }
.time .time__month_center li { padding: 0; }
.time .time__month_center li span { display: inline-block; padding: 2px 10px; background: black; color: white; vertical-align: top; }
.time .time__day { display: inline-block; position: relative; width: 19px; height: 170px; vertical-align: top; cursor: pointer; }
.time .time__day.is-active:before, .time .time__day.is-active:after { background: black; }
.time .time__day.is-active:before { height: 70px; }
.time .time__day.is-active:after { height: 56px; }
.time .time__day:before, .time .time__day:after { content: ""; position: absolute; left: 8px; width: 1px; height: 4px; background: #cccccc; -webkit-transition: background 0.3s, height 0.3s; -moz-transition: background 0.3s, height 0.3s; -o-transition: background 0.3s, height 0.3s; transition: background 0.3s, height 0.3s; }
.time .time__day:before { bottom: 100px; }
.time .time__day:after { display: none; top: 114px; }
.time .time__day.is-interview:after { display: block; }

.preview { position: absolute; left: 0; right: 0; bottom: 0; height: 274px; padding-left: 50%; font-size: 0; white-space: nowrap; overflow: hidden; }
.preview .preview__in { margin-left: -82px; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; transition: transform 0.3s; }
.preview .preview__item { position: relative; display: inline-block; width: 164px; vertical-align: top; }
.preview .preview__item.is-active .preview__info { opacity: 1; }
.preview .preview__item.is-active .preview__pic:after { opacity: 0; }
.preview .preview__item.is-active .preview__pic img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }
.preview .preview__info { height: 110px; padding-top: 25px; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; opacity: 0; }
.preview .preview__man { margin-bottom: 10px; font-size: 24px; font-weight: 800; }
.preview .preview__place { font-size: 12px; text-transform: uppercase; }
.preview .preview__pic { display: block; position: relative; height: 164px; vertical-align: top; }
.preview .preview__pic:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(82, 82, 82, 0.75); -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; opacity: 1; }
.preview .preview__pic img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.articlewrapper { background: url(../img/bg.jpg) repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.articlepics { position: fixed; right: 0; top: 0; width: 50%; padding-bottom: 50%; z-index: 1; }
@media only screen and (max-width: 800px) { .articlepics { position: static; width: auto; padding-bottom: 100%; } }
.articlepics .articlepic { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.article { position: relative; padding: 100px 90px 150px 120px; background: white; }
@media only screen and (max-width: 800px) { .article { padding: 60px 50px 60px 50px; } }
.article .article__info { position: relative; }
.article .article__info_down { padding-top: 40px; }
.article .article__info_down:before { content: ""; position: absolute; top: 0; left: 0; width: 60px; height: 1px; background: black; }
.article .article__info_down .article__title { margin-bottom: 5px; font-size: 14px; }
.article .article__info_down .article__place { font-size: 10px; }
.article .article__info_down .article__prev, .article .article__info_down .article__next { top: 25px; }
.article .article__prev, .article .article__next { position: absolute; top: 0; padding: 15px 20px; }
.article .article__prev .icon, .article .article__next .icon { font-size: 15px; color: #cccccc; }
.article .article__prev { left: -120px; }
.article .article__next { right: -90px; }
.article .article__close { position: absolute; top: 0; right: 0; padding: 20px; font-size: 0; }
.article .article__close .icon { font-size: 15px; }
@media only screen and (max-width: 800px) { .article .article__close .icon { font-size: 30px; } }
.article .article__title { margin-bottom: 10px; font-size: 24px; font-weight: 800; }
.article .article__place { margin-bottom: 55px; font-size: 12px; text-transform: uppercase; }
@media only screen and (max-width: 800px) { .article .article__place { margin-bottom: 20px; } }
.article .article__month { display: inline-block; margin: 0 0 55px -10px; padding: 0 10px; background: black; text-transform: uppercase; color: white; vertical-align: top; line-height: 18px; }
.article .article__content { margin-bottom: 100px; font-size: 14px; line-height: 1.8; }
.article .article__content p, .article .article__content blockquote { margin-bottom: 25px; }
.article .article__content blockquote { margin-left: -25px; font-size: 18px; font-style: italic; }

.cities-text { position: absolute; top: 0; left: 0; right: 0; }

.cities { height: 86px; -webkit-transition: height 0.2s; -moz-transition: height 0.2s; -o-transition: height 0.2s; transition: height 0.2s; overflow: hidden; }
.cities .cities__list { padding: 50px 0 15px; background: #333333; white-space: nowrap; font-size: 0; text-align: center; }
.cities label { display: inline-block; margin: 0 3px; vertical-align: top; cursor: pointer; }
.cities label:hover span { border-color: #6e6e6e; }
.cities label input { position: absolute; top: 0; left: 0; opacity: 0; visibility: hidden; }
.cities label input:checked + span { border-color: #6e6e6e; }
.cities label span { display: block; padding: 2px 9px; border: 1px solid transparent; color: #6e6e6e; font-size: 12px; text-transform: uppercase; -webkit-transition: border 0.2s; -moz-transition: border 0.2s; -o-transition: border 0.2s; transition: border 0.2s; }

.text { position: relative; height: 150px; -webkit-transition: -webkit-transform 0.4s; -webkit-transition-delay: 0.3s; -moz-transition: -moz-transform 0.4s 0.3s; -o-transition: -o-transform 0.4s 0.3s; transition: transform 0.4s 0.3s; }
.text .text__list { position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); white-space: nowrap; font-size: 0; }
.text .text__item { display: inline-block; width: 80px; padding: 80px 12px 0; white-space: normal; vertical-align: top; font-size: 2.4px; line-height: 1.5; }

.list { position: absolute; left: 0; right: 0; bottom: 0; height: 274px; border-bottom: 100px solid #333333; -webkit-transition: border-width 0.4s; -moz-transition: border-width 0.4s; -o-transition: border-width 0.4s; transition: border-width 0.4s; }
.list .list__in { position: absolute; left: 0; right: 0; bottom: 50px; white-space: nowrap; font-size: 0; text-align: center; -webkit-transition: bottom 0.4s; -moz-transition: bottom 0.4s; -o-transition: bottom 0.4s; transition: bottom 0.4s; }
.list .list__item { display: inline-block; width: 28px; vertical-align: top; text-align: left; opacity: 0.7; color: black; -webkit-transition: opacity 0.4s, width 0.4s; -webkit-transition-delay: 0s, 0.3s; -moz-transition: opacity 0.4s, width 0.4s 0.3s; -o-transition: opacity 0.4s, width 0.4s 0.3s; transition: opacity 0.4s, width 0.4s 0.3s; }
.list .list__item:hover { opacity: 1; }
.list .list__item:hover .list__info { opacity: 1; visibility: visible; }
.list .list__info { opacity: 0; visibility: hidden; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.list .list__man { margin-bottom: 3px; font-size: 10px; font-weight: 700; }
.list .list__place { margin-bottom: 12px; font-size: 8px; }
.list .list__pic img { width: 100%; }

.full { position: absolute; top: 236px; left: 0; right: 0; bottom: 274px; -webkit-transition: top 0.4s; -moz-transition: top 0.4s; -o-transition: top 0.4s; transition: top 0.4s; text-align: center; font-size: 0; }
.full:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.full .full__in { display: inline-block; width: 100%; height: 107px; padding-top: 34px; white-space: nowrap; vertical-align: middle; }
.full .full__month, .full .full__day { position: relative; display: inline-block; vertical-align: top; }
.full .full__day { width: 9px; height: 52px; }
.full .full__day:before, .full .full__day:after { content: ""; position: absolute; top: 0; left: 4px; width: 1px; height: 4px; background: #cccccc; }
.full .full__day.is-interview:after { top: auto; bottom: 0; }
.full .full__title { position: absolute; bottom: 17px; left: 50%; width: 100px; margin-left: -50px; }
.full .full__title a { display: inline-block; padding: 0 10px; border: 1px solid transparent; text-transform: uppercase; font-size: 10px; vertical-align: top; line-height: 16px; color: black; -webkit-transition: border 0.2s; -moz-transition: border 0.2s; -o-transition: border 0.2s; transition: border 0.2s; }
.full .full__title a:hover { border-color: black; }
.full .full__pic { position: absolute; top: -34px; left: -46px; width: 101px; text-align: center; font-size: 0; }
